body, html {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 150px;
}

.actual-names {
    display: none;
    font-weight: bolder;
}

@media screen and (width <= 730px) {
    .container {
        padding: 0px;
    }
}